<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Tarot App</title>
  <!-- Include your CSS and JavaScript assets -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
  <!-- Include the card listing partial here -->
  <%= render 'cards/card_listing', cards: @cards %>
  
  <!-- This is where the content of your other views will be inserted -->
  <%= yield %>
</body>
</html>
